[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
coverage = "*"

[packages]
django = "*"
install = "*"
python-dotenv = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"
