[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
coverage = "*"

[packages]
django = "~=4.2"
djangorestframework = "*"
django-environ = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.11"
